 /* header sections */

 .header-container {
     background-color: rgba(255, 144, 14, 0.1);
 }

 .header-tittle {
     font-weight: 700;
     font-size: 45px;

     color: #131313;
 }

 .header-section img{
   width: 75%;
   margin-top: 50px;
   margin-left: 150px;
border-radius: 8px;

 }






 nav ul {
     display: flex;

     text-decoration: none;


 }


 /* header article */

 .sub-tittle {
     font-weight: 700;
     font-size: 64px;
     text-align: center;
     color: #131313;
 }

 .header-description {
     font-weight: 400;
     font-size: 16px;
     text-align: center;
     color: #727272;

     width: 868px;
     height: 52px;
     margin-left: 250px;
     margin-top: 10px;


 }

 .btn-primary {
     font-weight: 600;
     font-size: 20px;
     text-align: center;



     border-radius: 8px;
 }

 .btn {
     background-color: coral;
     color: azure;
 }

 